/* TODO IDEA:
transition on for ex the grass from green to burnt
*/







/* TODO SMACSS */


/* 1. Base
  Default or general doc styles, margin, paddings that should be applied to an element wherever it is on a page, or setting a style for a link

  Applied using an element, descendant or child selector, does not include any Class or ID, it is defining how the element should look like anywhere in the page.

  ex: body {margin:0} a{color:#123} p{margin-bottom:1.5em}

  Normalize.css belong to Base rule

============================== */

/* TODO: this is only for developmen, do not forget the body bg color in the 760px media query 1/1 16*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  color: #34495e;
  background-color: #2c3e50;
}
* {
  box-sizing: border-box;
}


/*article {
  border: 15px solid pink;
}
section {
  border: 15px solid purple;
}*/

/* TODO: Remove red helper div */
/*div {
  border: 1px solid red;
}*/

/* TODO: This is a helper class*/
a {
  text-decoration: none;
}

span  {
  color: #e8e820;
  font-weight: bold;
}


p {
  color: #eee;
}

p,
h4,
a {
  font-family: 'Fredoka One';
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.land h2 {
  color: #22313F;
}

h1,
h2 {
  font-family: 'Fredericka the Great', cursive;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 6px;
}

h3 {
  font-family: 'Oswald';
  font-weight: bold;
  font-size: 4vw;
  line-height: 1.2;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 6.5vw;
  color: #fefefe;
}

h2 {
  font-size: 5vw;

  background-color: #fde3a7;
  padding: 1%;

  border: 2px solid rgba(52, 73, 94, 0.6);
  outline: 10px solid #fde3a7;
  transform: rotate(-1deg);
}

.livestock a {
  margin: 0 auto;
}

.reveal-button {
  background-color: #2C3E50;
  padding: 10px 15px;
  border-radius: 4px;
  width: 300px;
  margin: auto;
  color: #ecf0f1;
}

/* 2. Layout
  Allow to divide page into sections and they contain several Modules

  How we position various elements on the page
  categories:
  -Major: Layout styles, big chunks of info such as header, nav, footer or sidebar. Normally they only appear once in a page, then it is a good practise to use ID's for them
  -Minor: Forms, buttons navigation menus, are contained within major components

============================== */
.l-clear::after {
  content: "";
  display: table;
  clear: both;
}

.l-container {
  max-width: 95%;
  margin: 0 auto;
}

/* 3. Module
  Reusable part of a page. Sidebar widgets, page headers, banners, footers etc

============================== */

/* 4. State
  Describe various states of the Layout or Modules, for ex expanded or collapsed state, or active, inactive or visible or hidden

============================== */

/* 5. Theme
  For theming, similar to state rules. Describe how Modules looks like when another theme is being used

============================== */









#clouds {
  margin-bottom: -5px;
  height: 40px;
}

#clouds path {
    fill: #e7f7ff;
    stroke: #e7f7ff;
}






.main-nav,
.heaven,
.forest,
.water,
.land,
.waste {
  padding: 20px;
  position: relative;
}

.main-nav p,
.heaven p,
.forest p,
.water p,
.land p,
.waste p,
.what-can-we-do p {
  font-size: 3vw;
  margin: 5px 0;
}

.waste p {
  color: #2C3E50;
}


.main-nav {
  padding: 20px;
}

.heaven {
  background: #E7F7FF;
}

.forest {
  /* TODO: check padding again for responsive layout */
  padding: 30px 0 200px;
  /*background-position: bottom;
  background-repeat: repeat-x;*/
  background-color: #2ecc71;
}

.forest::before {
  width: 100%;
  height: 200px;
  content: "";
  background: url("../img/forest.svg") rgba(39, 174, 96,1.0) 5% bottom repeat-x;
  bottom: 0;
  position: absolute;
}

.forest p {
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: bold;
}

.water {

}

.land {
  background: #825a2c;
}

/* REMOVE #825a2c color from waste bottom divider*/

.waste {
  background: #F89406;
}

@font-face {
  font-family: 'Fredoka One';
  src: url('../fonts/FredokaOne-Regular.ttf');
}
@font-face {
  font-family: 'Varela Round';
  src: url('../fonts/VarelaRound-Regular.ttf');
}
@font-face {
  font-family: 'Fredericka the Great';
  src: url('../fonts/FrederickatheGreat-Regular.ttf');
}

@import url(https://fonts.googleapis.com/css?family=Coustard:900);

@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

.initial-fade {
  animation: fadeIn 3.4s;
}

.is-hidden {
  visibility: hidden;
}

.fadeIn {
  animation: fadeIn 3.4s;
  visibility: visible;
}

@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}

.main-nav {
  z-index: 2;
  text-align: center;
}

.cloud {
  display: none;
}

.emission p {
  color: #2c3e50;
}

.truck,
.cow {
  float: left;
  width: 150px;
}

.truck-staple,
.cow-staple {
  background-color: #1abc9c;
  width: 50px;
  height: 170px;
}

.truck-staple {
  background: linear-gradient(to bottom, #1abc9c 0%,#1abc9c 87%,#1abc9c 87%,#7f8c8d 13%,#7f8c8d 100%); /* W3C */
  float: left;
}

.cow-wrapper {
  margin-top: 25px;
}

.truck-wrapper p,
.cow-wrapper p {
  display: inline-block;
}

.cow-staple {
  background: linear-gradient(to bottom, #1abc9c 0%,#1abc9c 49%,#1abc9c 49%,#7f8c8d 51%,#7f8c8d 100%); /* W3C */
  float: left;
}

.tree-one,
.tree-two {
    bottom: -6px;
    position: absolute;
    max-width: 200px;
    z-index: 2;
}

.tree-one {
  left: 10%;

}
/*.tree-two {
  left: 50%;
}*/





/* TODO: JavaScript associated CSS */

/* For reveal text script */
.hide-text {
  display: none;
}
.show-text {
  display: block;
}





/* TODO: Climate change*/
.diet-info p {
  color: #2c3e50;
  text-align: center;
}

.diet-info {
  text-align: center;
}

.livestock {
  color: #2c3e50;
  text-align: center;
}

.livestock p {
  color: #2c3e50;
}








/* TODO: Testing grounds */

.wrapper {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 0 auto;
}

.left-half {
  width: 50%;
  height: 100%;
  position: absolute;
  background: #34495e;
  border: 10px solid rgba(0,0,0,0.4);
  transform: rotate(45deg);
  bottom: -15px;
}

.spinner {
  border-radius: 125px 0 0 125px;
  z-index: 200;
  border-right: none;
}

.right-half {
  width: 50%;
  height: 100%;
  position: absolute;
  background: #34495e;
  border: 10px solid rgba(0,0,0,0.4);
  transform: rotate(-135deg);
  border-right: none;
  right: 0;
  top: -15px;
}


.rf-cleared-palm-oil,
.rf-cleared-animal {
  padding: 10px;
  text-align: center;
}

.deforestation-palm-agriculture h3 {
  color: #ecf0f1;
}

.rf-cleared-palm-oil h4,
.rf-cleared-animal h4 {
  color: #ecf0f1;
  font-size: 2.5rem;
  margin: 0;
  text-align-last: center;
  /* TODO: check on caniuse if still needed */
  -ms-text-align-last: justify;
}

/*.rf-cleared-palm-oil {
  background: #16a085;
}
.rf-cleared-animal {
  background: #27ae60;
}*/




















/* TODO: Pie chart */
.pie {
  background-image: linear-gradient(to right, transparent 50%, #bdc3c7 0);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #27ae60;
  border: none;
  margin: 0 auto;
  position: relative
}

.pie::before {
  content: "";
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  transform: rotate(.45turn);
}

.pie span {
  top: 40%;
  left: 30%;
  position: absolute;
  z-index: 9999;
  font-size: 2.5rem;
  color: #22313F;
}

.pie-chart {
  text-align: center;
}

/* %# inside of the pie chart */

.pie-chart {
  text-align: center;
  font-family: 'Fredoka One';
}

.pie-chart p  {
  color: #34495E;
}

.one-third {
  background: linear-gradient(to right, #F9BF3B 0%,#F9BF3B 33%,#2ECC71 33%,#2ECC71 66%, #16A085 66%,#16A085 100%); /* W3C */
  color: #F2F1EF;
  text-align: center;
  padding: 5px;
  margin-top: 25px;
}

.one-third p {
  font-weight: lighter;
}

.one-third span {
  color: #8e44ad;
}




















/* TODO: Water
============================== */

.water {
  background: #4F99C7;
}

.wu-hamburger {
  padding: 25px;
  background: #f9bf3b;
  border: 25px solid #FF5630;
  text-align: center;
}

.icon-hamburger {
  width:80%;
  max-width: 200px;
  margin: 0 auto;
}

.wu-gallon {
  background: url("../img/gallon.svg");
  background-size: 30px;
  color: #E4F1FE;
  min-height: 100px;
}

.wu-fresh-water {
  background: teal;
  padding: 25px;
  border: 5px solid #ececec;
}

.usa-water-use p:first-child {
  /*padding: 15px;*/
  background: #6BB9F0;
  position: relative;
  border: 4px solid #c2e1f5;
  padding: 25px;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: bold;
}

.usa-water-use p:first-child:after,
.usa-water-use p:first-child:before {
	top: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.usa-water-use p:first-child:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #6BB9F0;
	border-width: 10px;
	margin-left: -10px;
}

.usa-water-use p:first-child:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 6px;
	margin-left: -6px;
}

.usa-water-use p:nth-child(1n+2) {
  color: #C5EFF7;
  font-size: 5vw;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}




















/* TODO: Rainforest
============================== */
.acres-cleared {
  background: url(../img/forest-cleared.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  min-height: 120px;
}

.acres-rainforest {
  /*background: url("../img/forest-background.svg");
  height: 100px;
  background-color: lightblue;
  color: yellow;*/
  background-color: #049372;
  height: 150px;
  width: 150px;
  border: 2px solid #DADFE1;
}

#bigTriangleShadow {

}

#trianglePath1 {
  fill: rgba(46, 204, 113,1.0);
  stroke: rgba(46, 204, 113,1.0);
}

#trianglePath2 {
  fill: #03A678;
  stroke: #03A678;
}

.forest-second-half-background {
  background-color: rgba(39, 174, 96,1.0);
  margin-bottom: -6px;
}



/* TODO: Species extinction
============================== */
.wm-cause {
  background: url('../img/world-map.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: contain;
}


.wa-cow {
  padding: 25px;
  color: #bdc3c7;
  text-align: center;
}

.wa-people {
  padding: 25px;
  background: url("../img/people-bg.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  color: #2c3e50;
}

.wa-cow img {
  max-height: 80px;
}




















/* TODO: Fisheries
============================== */

.fi-pulled {
  border: 10px solid #2c3e50;
  background: #e74c3c;
  margin-bottom: 25px;
}

.fi-pulled,
.fi-tons {
  padding: 20px;
}

.fi-pulled p,
.fi-tons p {
  color: #ecf0f1;
  font-size: 6vw;
  margin: 0;
  text-align: center;
}

.fi-tons p {
  font-size: 5vw;
}

.fi-tons {
  border: 10px solid #e74c3c;
  background: #2c3e50;
}

.fi-exploit-wrapper {
  padding: 25px;
}

.fi-exploit {
  background: url(../img/fish-exploit.svg);
}

.fi-exploit h3 {
  color: #1F3A93;
  text-align: center;
  margin-bottom: 25px;
}

.fi-exploit-pie {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: firebrick;
    color: white;
    font-size: 5rem;
    text-align: center;
    border-left: 25px solid #e74c3c;
    border-bottom: 25px solid #e74c3c;
    border-top: 25px solid #e74c3c;
    border-right: 25px solid #2980b9;
    margin: 0 auto;
    position: relative;
}

.fi-exploit-pie p {
  position: absolute;
  margin: 0;
  font-size: 4rem;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.fi-bycaught {
  border: 25px solid #2980b9;
  padding: 10%;
  position: relative;
}

/* Cloud and bounce animations */
.fi-bycaught-boat {
  top: 0;
}

.boat-wrapper {
  position: relative;
  margin-bottom: 60px;
}

.fi-bycaught-boat {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
}

.fi-whale,
.fi-shark,
.fi-sea-turtle {
  width: 45px;
}



.container svg {
    display: block;
}
svg:not(:root) {
    overflow: hidden;
}

#waves {
  margin-top: -1px;
  margin-bottom: -5px;
  background: #4F99C7;
  height: 30px;
}

#waves path {
    fill: #F89406;
    stroke: #3498db;
}









/* what can we do divider*/
#curveUpColor{
  background: #4f99c7;
}

#curveUpColor path, #curveDownColor path {
    fill: #2C3E50;
    stroke: #2C3E50;
}




/* TODO: Deforestation
============================== */

.animal-agriculture {
  height: 100%;
  margin: 0 auto;
  font-size: 1.5em;
  padding: 25px;
}

.paragraph-black p {
  color: #2c3e50;
}

/*.animal-agriculture p:first-child {
  color: red;
  display: inline-block;
  width: 75%;
  vertical-align: top;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

.animal-agriculture p:first-child span {
  letter-spacing: 4.5px;
}

.animal-agriculture .procent {
  color: blue;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  font-size: 2.3em;

  font-weight: bold;
}

.animal-agriculture p:last-child {
  width: 100%;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}*/

.deforestation-palm-agriculture {
  background: url(../img/deforestation-bg.svg);
  background-repeat: repeat;
  background-size: 700px;
}

/*  TODO */
/* TODO: fix the height*/
.species-lost-wrapper {
  padding: 15px;
  text-align: center;
}

.sl-number {
  font-size: 15vw;
  text-align: center;
}

.sl-number h4 {
  margin: 0;
  letter-spacing: 6px;
}

.sl-text p {
  color: #22313F;
}


.svg-img {

}

.snake {
  width: 150px;
}

















/* TODO: What can we do section
============================== */

.what-can-we-do {
  padding-top: 150px;
}

.what-can-we-do {
  height: 100px;
}

.what-can-we-do {
  background: url('../img/earth.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.what-can-we-do h2 {
  color: #2C3E50;
}

.days-since-vegan-wrapper {
  border-top: 2px solid #f39c12;
  margin-top: 25px;
  margin-bottom: 35px
}

.days-since-vegan-wrapper p {
  color: #f1c40f;
}


/* TODO: footprint */
.footprint {
  width: 50%;
  max-width: 500px;
}



/* TODO: Fix this.... TODO */

.created-by {
    margin-bottom: 8%;
}

.created-by h4 {
    color: #E6DCDB;
}

.created-by a {
    color: #44BBFF;
}













































@media (min-width: 450px) {

  .acres-cleared {
    min-height: 200px;
  }

  .fi-exploit {
    min-height: 100px;
  }

  .truck-wrapper p,
  .cow-wrapper p {
    display: inline;
  }

}














/* TODO: Media queries */



/* TODO: Media queries
============================== */
@media (min-width: 780px) {

  /* TODO: Remember to clean up this asap for mobile perfection */
  #clouds {
    margin-bottom: -5px;
    height: 100px;
  }

  h2 {
    font-size: 6vw;

    background-color: #fde3a7;
    padding: 3%;

    border: 2px solid rgba(52, 73, 94, 0.6);
    outline: 10px solid #fde3a7;
    transform: rotate(-1deg);
  }

  header {
    padding: 15px;
  }

  .heaven-bg {
    background: url(../img/heaven-bg.svg);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 100px;
  }

  /*.block__element--modifier {

  }*/

  .l-container {
    width: 80%;
    max-width: 1400px;
  }

  .main-nav,
  .heaven,
  .forest,
  .water,
  .land,
  .waste,
  .what-can-we-do {
    position: relative;
    z-index: 1;
  }

  .what-can-we-do {
    padding-top: 550px;
  }


  /* TODO: move this to a media query? */
  figure {
    float: left;
    width: 220px;
    margin-right: 15px;
  }



  /* Cloud and bounce animations */
  .ball {
    top: 0;
    animation: bounce 45s infinite;
  }

  @keyframes bounce {
    0% {
      left: 0;
      animation-timing-function: ease-in;
    }
    35% {
      left: 100%;
      animation-timing-function: ease-out;
    }
    90% {
      left: 0;
    }
    100% {
      left: 0;
    }
  }




  .cloud {
    display: block;
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
  }

  /* TODO: Pie chart */
  .pie {
    background-image: linear-gradient(to right, transparent 50%, #bdc3c7 0);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #27ae60;
    border: none;
    margin: 0 auto;
    position: relative
  }

  .pie::before {
    content: "";
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    transform: rotate(.45turn);
  }

  .left,
  .right {
    display: inline-block;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .pie-chart {
    text-align: center;
  }




  .one-third {
    background: linear-gradient(to right, #F9BF3B 0%,#F9BF3B 33%,#2ECC71 33%,#2ECC71 66%, #16A085 66%,#16A085 100%); /* W3C */
    color: #F2F1EF;
    text-align: center;
    padding: 25px 20px;
  }

  .one-third span {
    color: #8e44ad;
  }

  p {
    font-size: 1.8rem;
  }




  .wu-hamburger {
    padding: 55px;
  }

  .icon-hamburger {
    width:20%;
    max-width: 150px;
  }


  .wu-gallon {
    background: url("../img/gallon.svg");
    background-size: 50px;
    min-height: 400px;
  }

  /* TODO: Rainforest
  ============================== */
  .acres-cleared {
    min-height: 320px;
  }


  /* TODO: Testing media queries rainforest cleared*/
  .rf-cleared-palm-oil,
  .rf-cleared-animal {
    padding: 10px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }

  .rf-cleared-palm-oil h4,
  .rf-cleared-animal h4 {
    font-size: 5rem;
    margin: 0;
  }


  .usa-water-use p:first-child {
    /*padding: 15px;*/
    background: #6BB9F0;
    position: relative;
    border: 4px solid #c2e1f5;
    padding: 25px;
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: bold;
  }

  .usa-water-use p:first-child:after,
  .usa-water-use p:first-child:before {
  	top: 100%;
  	left: 10%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

  .usa-water-use p:first-child:after {
  	border-color: rgba(136, 183, 213, 0);
  	border-top-color: #6BB9F0;
  	border-width: 30px;
  	margin-left: -30px;
  }

  .usa-water-use p:first-child:before {
  	border-color: rgba(194, 225, 245, 0);
  	border-top-color: #c2e1f5;
  	border-width: 36px;
  	margin-left: -36px;
  }

  .usa-water-use p:nth-child(1n+2) {
    color: #C5EFF7;
    font-size: 5vw;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
  }

  /* TODO: Species Extinction
  ============================== */
  .wa-cow-people {
    padding: 50px;
  }

  .wa-people {
    min-height: 400px;
  }

  .fi-pulled,
  .fi-tons {
    padding: 50px;
  }

  .fi-exploit {
    min-height: 500px;
  }

  .boat-wrapper {
    margin-bottom: 120px;
  }

  /* Cloud and bounce animations */
  .fi-bycaught-boat {
    top: 0;
    animation: move 20s infinite;
  }

  @keyframes move {
    0% {
      left: 0;
      animation-timing-function: ease-in;
    }
    100% {
      left: 100%;
      animation-timing-function: ease-out;
    }
  }

  .fi-bycaught-boat {
    width: 200px;
    height: 200px;
  }

  .fi-bycaught {
    text-align: center;
  }
  .fi-whale,
  .fi-shark,
  .fi-sea-turtle {
    width: 150px;
  }

  .what-can-we-do {
    padding-top: 550px;
  }

  .what-can-we-do {
    height: 100vh;
  }


  .fi-exploit-pie p {
    font-size: 5rem;
  }

  .fi-exploit {
    background: url(../img/fish-exploit.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

}
