/* TODO IDEA:
transition on for ex the grass from green to burnt
*/


* {
  box-sizing: border-box;
}

/* TODO: Remove red helper div */
div {
  border: 1px solid red;
}
/* TODO: This is a helper class*/
span  {
  color: #e8e820;
  font-weight: bold;
}

.main-nav,
.heaven,
.forest,
.water,
.land {
  padding: 20px 0;
  position: relative;
}
.main-nav {
  padding: 20px;
}


.heaven {
  background: #3498db;
}
.forest {
  background: #90C695;
}


@font-face {
  font-family: 'Fredoka One';
  src: url('../fonts/FredokaOne-Regular.ttf');
}
@font-face {
  font-family: 'Varela Round';
  src: url('../fonts/VarelaRound-Regular.ttf');
}
@font-face {
  font-family: 'Fredericka the Great';
  src: url('../fonts/FrederickatheGreat-Regular.ttf');
}

@import url(https://fonts.googleapis.com/css?family=Coustard:900);

h4 {
  font-family: 'Coustard';
  text-transform: uppercase;
  font-weight: 900;
}

p {
  font-family: 'Fredoka One';
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.land h2 {
  color: #22313F;
}

h2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 6vw;
  text-transform: uppercase;
  text-align: center;
  color: #34495e;
  line-height: 1.2;
  letter-spacing: 6px;
}

.initial-fade {
  animation: fadeIn 3.4s;
}

.fadezor {
  visibility: hidden;
}

.fadeIn {
  animation: fadeIn 3.4s;
  visibility: visible;
}

@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}


.clear {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

.main-nav {
  z-index: 1;
  text-align: center;
}


.cloud {
  display: none;
}

.truck {
  max-width: 150px;
  color: red;
}

.cow {
  max-width: 150px;
  color: red;
}

.truck-staple,
.cow-staple {
  background-color: #1abc9c;
}

.truck-staple {
  background: linear-gradient(to bottom, #1abc9c 0%,#1abc9c 87%,#1abc9c 87%,#7f8c8d 13%,#7f8c8d 100%); /* W3C */
}

.cow-staple {
  background: linear-gradient(to bottom, #1abc9c 0%,#1abc9c 49%,#1abc9c 49%,#7f8c8d 51%,#7f8c8d 100%); /* W3C */
}



.forest {
  padding: 100px 0 200px;
}

.tree-one,
.tree-two {
    bottom: -6px;
    position: absolute;
    max-width: 200px;
    z-index: -1;
}

.tree-one {
  left: 10%;

}
/*.tree-two {
  left: 50%;
}*/

.land {
  background: #e67e22;
}








/* TODO: Testing grounds */

.wrapper {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 0 auto;
}

.left-half {
  width: 50%;
  height: 100%;
  position: absolute;
  background: #34495e;
  border: 10px solid rgba(0,0,0,0.4);
  transform: rotate(45deg);
  bottom: -15px;
}

.spinner {
  border-radius: 125px 0 0 125px;
  z-index: 200;
  border-right: none;
}

.right-half {
  width: 50%;
  height: 100%;
  position: absolute;
  background: #34495e;
  border: 10px solid rgba(0,0,0,0.4);
  transform: rotate(-135deg);
  border-right: none;
  right: 0;
  top: -15px;
}


.rf-cleared-palm-oil,
.rf-cleared-animal {
  padding: 10px;
  text-align: center;
}

.rf-cleared-palm-oil h4,
.rf-cleared-animal h4 {
  font-size: 2.5rem;
  margin: 0;
  text-align-last: justify;
  /* TODO: check on caniuse if still needed */
  -ms-text-align-last: justify;
}

.rf-cleared-palm-oil {
  background: #16a085;
}
.rf-cleared-animal {
  background: #27ae60;
}









/* TODO: Pie chart */
.pie {
  background-image: linear-gradient(to right, transparent 50%, #bdc3c7 0);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #27ae60;
  border: none;
  margin: 0 auto;
  position: relative
}

.pie::before {
  content: "";
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  transform: rotate(.45turn);
}

.pie span {
  top: 40%;
  left: 30%;
  position: absolute;
  z-index: 9999;
  font-size: 2.5rem;
  color: #22313F;
}

.pie-chart {
  text-align: center;
}

/* %# inside of the pie chart */

.pie-chart {
  text-align: center;
  font-family: 'Fredoka One';
}

.pie-chart p  {
  color: #34495E;
}


.one-third {
  background: linear-gradient(to right, #F9BF3B 0%,#F9BF3B 33%,#2ECC71 33%,#2ECC71 66%, #16A085 66%,#16A085 100%); /* W3C */
  color: #F2F1EF;
  text-align: center;
  padding: 25px 20px;
}

.one-third p {
  font-weight: lighter;
}

.one-third span {
  color: #8e44ad;
}







/* TODO: Water
============================== */

.water {
  background: #0072bc;
}

.ripplezor {
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin:-20px 0 0 -20px;
  width:40px;
  line-height:40px;
}

.ripple,
.ripple:before,
.ripple:after {
  display:block;
  border-radius:2px;
  width:2px;
  height:2px;
  animation:rip 6s infinite;
}
.ripple {
  position:absolute;
  z-index:-1;
  top:40px;
  left:15px;
}
.ripple:before,
.ripple:after {
  content:'';
  position:absolute;
}
.ripple:before {
  animation-delay:.2s;
  left:25px;
}
.ripple:after {
  animation-delay:.8s;
  top:25px;left:0;
}

@keyframes rip {
  0% {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  5% {
    box-shadow:0 0 0 0 #0072bc,
               0 0 0 0 rgba(255,255,255,0.4),
               0 0 0 0 #0072bc,
               0 0 0 0 rgba(0,0,0,0.08);
  }
  100% {
    box-shadow:0 0 40px 200px #0072bc,
               0 0 10px 210px transparent,
               0 0 30px 220px #0072bc,
               0 0 5px 230px transparent;
  }
}


.usa-water-use p:first-child {
  /*padding: 15px;*/
  background: #6BB9F0;
  position: relative;
  border: 4px solid #c2e1f5;
  padding: 25px;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: bold;
}

.usa-water-use p:first-child:after,
.usa-water-use p:first-child:before {
	top: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.usa-water-use p:first-child:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #6BB9F0;
	border-width: 30px;
	margin-left: -30px;
}
.usa-water-use p:first-child:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}

.usa-water-use p:nth-child(1n+2) {
  color: #C5EFF7;
  font-size: 5vw;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}














/*.fish-hole {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: inline-block;
  background-image: url("../img/shoal.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 54;
  border: 5px solid red;
}*/


















/* TODO: Rainforest
============================== */

.acres-rainforest {
  /*background: url("../img/forest-background.svg");
  height: 100px;
  background-color: lightblue;
  color: yellow;*/
  background-color: #049372;
  height: 150px;
  width: 150px;
  border: 2px solid #DADFE1;
}

#forest-svg {
  width: 500px;
}

.svg-one {
  fill: green;
}

.svg-two {
  fill: yellow;
}

.svg-three {
  fill: firebrick;
  transition: all 3s ease;
}

.svg-three:hover {
  fill: lightblue;
  z-index: 9999;
  transition: all 3s ease;
}


.animal-agriculture {
  padding: 25px;
  background: #fefefe;
}







/* TODO: What can we do section
============================== */
.person-banner {
}

.animal-banner {
}

.animal-agriculture {
  height: 100%;
  margin: 0 auto;
  font-size: 1.5em;
}


.animal-agriculture p:first-child {
  color: red;
  display: inline-block;
  width: 75%;
  vertical-align: top;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

.animal-agriculture p:first-child span {
  letter-spacing: 4.5px;
}

.animal-agriculture .procent {
  color: blue;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  font-size: 2.3em;

  font-weight: bold;
}

.animal-agriculture p:last-child {
  width: 100%;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}





.species-lost-wrapper {
  background: teal;
  padding: 15px;
  height: 200px;
  position: relative;
}

.sl-number,
.sl-text {
  position: absolute;
}
.sl-number {
  width: 20%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

}
.sl-number h4 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.sl-text {
  width: 80%;
  padding: 25px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.sl-text p {
  margin: 0;
}

.varela {
  font-family: 'Varela Round';
  font-size: 3rem;
  color: red;
}




.what-can-we-do {
  height: 100vh;
}
.what-can-we-do {
  background: url('../img/earth.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.what-can-we-do h2 {
  color: #ecf0f1;
}






/* TODO: footprint */
.footprint-wrapper::before {
  content: " fdsfsdfsd";
  width: 150px;
  height: 150px;
  overflow: hidden;
  transform: rotate(45deg);
  background: red;
  position: absolute;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.footprint {
  width: 250px;
}










































@media (min-width: 800px) {
  body {
    background-color: #2c3e50;
  }

  .container {
    width: 80%;
    max-width: 1200px;
  }

  .main-nav,
  .heaven,
  .forest,
  .water,
  .land,
  .what-can-we-do {
    padding: 3vh 0;
    position: relative;
    z-index: -5;
  }


  /* TODO: move this to a media query? */
  figure {
    float: left;
    width: 220px;
    margin-right: 15px;
  }



  /* Cloud and bounce animations */
  .ball {
    top: 0;
    animation: bounce 5s infinite;
  }

  @keyframes bounce {
    0% {
      left: 0;
      animation-timing-function: ease-in;
    }
    34% {
    }
    35% {
      left: 8rem;
      animation-timing-function: ease-out;
    }
    45% {
    }
    90% {
      left: 0;
    }
    100% {
      left: 0;
    }
  }




  .cloud {
    display: block;
  }

  .cloud,
  .cloud2,
  .cloud3 {
    position: absolute;
    z-index: -4;
    width: 200px;
    height: 200px;
  }

  .cloud {
    top: 0;
    left: 0;
  }

  .cloud2 {
    left: 30%;
    top: 0;
  }
  .cloud3 {
    right: 10%;
    top: 0;
  }



  /* TODO: Pie chart */
  .pie {
    background-image: linear-gradient(to right, transparent 50%, #bdc3c7 0);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #27ae60;
    border: none;
    margin: 0 auto;
    position: relative
  }

  .pie::before {
    content: "";
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    transform: rotate(.45turn);
  }

  .left,
  .right {
    display: inline-block;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .pie-chart {
    text-align: center;
  }




  .one-third {
    background: linear-gradient(to right, #F9BF3B 0%,#F9BF3B 33%,#2ECC71 33%,#2ECC71 66%, #16A085 66%,#16A085 100%); /* W3C */
    color: #F2F1EF;
    text-align: center;
    padding: 25px 20px;
  }

  .one-third span {
    color: #8e44ad;
  }

  p {
    font-size: 1.8rem;
  }






/* TODO: Testing media queries rainforest cleared*/
  .rf-cleared-palm-oil,
  .rf-cleared-animal {
    padding: 10px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }

  .rf-cleared-palm-oil h4,
  .rf-cleared-animal h4 {
    font-size: 5rem;
    margin: 0;
    text-align-last: center;
    /* TODO: check on caniuse if still needed */
    -ms-text-align-last: center;
  }

  .rf-cleared-palm-oil {
    background: #16a085;
  }
  .rf-cleared-animal {
    background: #27ae60;
  }








}
